<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout ::site-head">
<title>Klaser monet</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>
  <header th:replace="layout :: site-header" />
  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Lista monet</h2>
  </div>
  
  <div class="listaMonet" th:unless="${#lists.isEmpty(filmyWszystkie)}">
    <table>
      <thead>
        <tr>
          <th th:text="#{klaser.id}">id</th>
          <th th:text="#{klaser.gatunek}">gatunek</th>
          <th th:text="#{klaser.tytul}">tytul</th>
          <th th:text="#{klaser.autor}">autor</th>
          <th th:text="#{klaser.cenaWypozyczenia}">cenaWypozyczenia</th>
          <th th:text="#{klaser.dataDodaniaFilmu}">dataDodaniaFilmu</th>
          <th th:text="#{klaser.krajProdukcji}">krajProdukcji</th>
          <th th:text="#{klaser.status}">status</th>
          <th th:text="#{klaser.operacje}">operacje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="film : ${filmyWszystkie}">
          <form action="#" th:action="@{/filmy}" th:object="${film}" method="post">
          <td th:text="${film.id}">1</td>
          <td th:text="${film.gatunek}">100</td>
          <td th:text="${film.tytul}">Długi tytul</td>
          <td th:text="${film.autor}">zł</td>
          <td th:text="${{film.cenaWypozyczenia}}">5.12</td>
          <td th:text="${{film.dataDodaniaFilmu}}">2011/13/01</td>
          <td th:text="${film.krajProdukcji}">Polska</td>
          <td th:text="#{${'klaser.status.' + film.status}}">Nowa</td>
          <td>
            <button type="submit" name="remove" th:value="${film.id}"
            th:text="#{klaser.remove}">Dell</button>
            
            <a href="film.html" th:href="@{|/filmy/${film.id}|}" >
            <button type="button" th:text="#{klaser.edit}">Editt</button></a>
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="layout :: site-footer" />
</body>
</html>