<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
<title th:text="#{title.application}">Wypożyczalnia filmów</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
<link rel="icon" href="../../imgages/free-movies-online.jpg" th:href="@{/images/free-movies-online.jpg}" />
</head>

<body>

  <header th:fragment="site-header">
    <a href="index.html" th:href="@{/}"><img src="../../images/Movies.jpg" th:src="@{/images/Movies.jpg}"/> </a>
    <a href="klaser.html" th:href="@{/filmy}">Wszystkie filmy</a>
    <a href="wypozycz.html" th:href="@{/wypozycz}">Filmy do wypożyczenia</a>
    <a href="film.html" th:href="@{/filmy/create}">Dodaj film</a>

  </header>

  <div>
    <h2 th:text="#{title.list}" style="display: inline;">Wypożyczalnia filmów</h2>
    <img src="../../images/Movies.jpg" alt="Klaser logo" title="Klaser logo" th:src="@{/images/Movies.jpg}"
      th:alt-title="#{title.application}" style="float: right;" />
  </div>

  <footer th:fragment="site-footer"> 
  Marta Morga <a href="https://github.com/martamorga/movies-project"> Source code</a>
  &copy; Sternik 2017
  </footer>

</body>
</html>