<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <header />

  <h1>Strona główna, Witamy w klaserze</h1>
  <h3 th:text="${msg} + ' którą dostałam'">domyslne cos</h3>
  <h2 th:text="${cos}==1?'podales <strong>jeden</strong>':(${cos}?:'nic nie ma')">tu bedzie cos</h2>
  <h3 th:text="${msg}"> domyslne cos</h3>
  <h3 th:text="${{data}}"> domyslne cos2</h3>
  <h3 th:text="#{msg.param(${id})}"> domyslne cos</h3>
  <h3 th:text="#{bbb}"> aaa</h3>
  <h3 th:text="#{msg.param(${cos})}"> domyslne nowe</h3>
  <footer />

</body>

</html>